*{
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 1;
    border-bottom: #000000;
}


.header-logo {
    position: absolute;
    height: 10px;
    width: 20px;
    margin-left: 1400px; 
    margin-bottom: 10px;  
}

.title {
    color: #242527;


}

body {
    width: 100%;
    margin: 1px;
    overflow-x: hidden;
    background-color: #ffffff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50%; */
    margin-top: 1px;
    margin-right: 20px;

}

.header-container li {
    color: #000000;

}

.search-container input[type=text] {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 225px; 
    border-color: #000000;
    /* margin-left: 900px; */
    background-color: #555;
}
div.nav-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.search-container button[type=submit] {
    background-color: #242527;
    border: none;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    padding: 10px 20px;
    border-color: #000000;
}
.nav-container ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-right: 15px;
    padding: 5px;
    justify-content: space-between;
}
.nav-container ul li a {
    color: #555;
    display: block;
    padding: 1px 1px;
    text-decoration: none;
    justify-content: space-between;
}
.nav-container ul li a:hover {
    background-color: #ffffff;
    justify-content: space-between;
    font-family: Avenir;
  }

li {
    justify-content: space-between;
    padding: 10px;
}
  /* Main */



.categories-section {
    background-color:#ffffff;
    padding: 20px;
    width: 100%;
    max-height: 100%;

}

.categories-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 300px;

} 

.content {
    margin: 150px;
    margin-right: 25px;
    margin-left: 25px;
    box-shadow: 0px 0px 0px #000000;
    border-radius: 10px;
    /* height: 300px; */
    width: 200px;
    justify-content: center;
    display: inline-block;
    align-items: center;
    row-gap: 2px;
    padding: 50 50;
    justify-items: center;
    margin-bottom: 1px;
} 

div.Adidas {
    background-color: transparent;
    height: 50px;
    letter-spacing: 0.00px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    text-shadow: 0px 3px 6px #00000029;
    width: fit-content;
    font-size: larger;
    font-weight: 600;
    margin-left: 20px;
}

div.Adidas1 {
    height: auto;
    letter-spacing: 0.00px;
    line-height: 125px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    margin-left: 25px;
}


i {
    display: flex;
    gap:2%;
    margin: 3% 0;
    align-items: center;
}


button.cart {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: lighter;
    margin-left: 140px;
    margin-top: 80px;
    text-decoration: underline;
}

p.price {
    font-family: sans-serif;
    color: #000000;
}
p.price {
    font-family: sans-serif;
    color: #000000;
    font-style: normal;
    margin-left: -190px;
    margin-top: 70px;
}

img {
    width: 100%;
    object-fit: cover;
    
}

h1 {
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 250;
    margin-left: 10px;
    /* width: 5%; */
}

h2 {
    font-size: 35px;
    font-family: Helvetica;
    font-weight: 250;
    margin-left: 260px;
    border-bottom: 10px;
}

h3 {
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 250;
    margin-left: 350px;
    margin-top: 40px;
}

h4 {
    position: absolute;
    left: -10px;
    margin-left: 10px;
    align-items: left;
    width: 150px;
    height: 60px;
    border: 3px;
    border-bottom: 100px;
    font-family: Avenir;
    font-size: 20px;
    color: white;
    bottom: 50px;
    margin-top: 20px;
    padding-top: 5px;
}

.footer-p {
    position: absolute;
    left: 125px;
    margin-left: 10px;
    margin-top: 40px;
    align-items: left;
    width: 199px;
    height: 99px;
    border: 8px;
    border-bottom: 150px;
    font-family: Avenir;
    font-size: 15px;
    color: white;
}
   
h5 {
    position: absolute;
    left: -10px;
    margin-left: 10px;
    align-items: left;
    width: 150px;
    height: 60px;
    border: 3px;
    border-bottom: 100px;
    font-family: Avenir;
    font-size: 20px;
    color: white;
    bottom: 50px;
    margin-top: 20px;
    padding-top: 5px;
}

p {

    height: 10px;
    margin-top: 30px;
}

h6 {
    display: flex;
    /* margin: 0 auto; */
    font-size: 15px;
    font-family: Helvetica;
    width: 175px;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    position: absolute;
    margin-bottom: 75px;
    color: #fffefe;
    background-color: #000000;
}

.footer {  
    position:absolute; 
    margin-bottom: 100px; 
    width:100%; 
    height:100px;
    top: 300px;
    padding: 100px; 
} 

footer {
    height: 248px;
    background-color: #242527;
    
} 

span.footer-text{
    text-align: center;
}

.footer-logo {
    position: absolute;
    height: 5px;
    width: 25px;
    margin-top: 140px;
    margin-left: 1365px;
    float: inline-start;  

}
.footer-logo1 {
    position: absolute;
    height: 5px;
    width: 25px;
    margin-top: 140px;
    margin-left: 1400px;
    float: inline-start;  

}

.footer-h {
    position: absolute;
    left: 500px;
    margin-left: 10px;
    margin-top: 40px;
    align-items: left;
    width: 199px;
    height: 99px;
    border: 8px;
    border-bottom: 150px;
    font-family: Avenir;
    font-size: 15px;
    color: white;

} 

.footer-b {
    position: absolute;
    margin-left: 60px;
    align-items: left;
    width: 100%;
    height: 50px;
    border: 1px;
    margin-top: 180px;
    margin-bottom: 10px;
    font-family: Avenir;
    color: rgb(255, 255, 255);
    
}

.line {
    border-bottom: 1px solid;
    display: block;
}

.line1 {

    height: 1px;
    left: 175px;
    position: absolute;
    width: 70%;
    top: 680px;

}
.line1 {
    border-bottom: 1px solid;
    display: block;
}

.Procced {
    height: 50px;
    width: 200px;
    margin-left: 900px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px;
    background-color: #393939;
    border-radius: 3px;
    line-height: 51px;
    text-align: left;
    font-family: Avenir;
    text-indent: 17px;
    color: #ffffff;
}

.sub {
    margin-top: -120px;
    height: 300px;
    width: 100px;
    margin-left: 900px;
    font-size: 18px;
    border-radius: 1px;
    text-align: left;
    font-family: Avenir;
    color: #000000;
}

.prce {
    margin-top: -297px;
    height: 100px;
    width: 100px;
    margin-left: 1050px;
    font-size: 18px;
    border-radius: 1px;
    text-align: right;
    font-family: Avenir;
    color: #000000;
}

.itmct {
    margin-top: -50px;
    height: 100px;
    width: 110px;
    margin-left: 900px;
    font-size: 18px;
    border-radius: 1px;
    text-align: left;
    font-family: Avenir;
    color: #000000;

}
